.social-icons {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .social-icons a {
    text-decoration: none;
    color: #333; /* Default color */
    font-size: 30px;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #0077b5; /* Change color on hover */
  }
  
  .social-icons a:nth-child(1):hover {
    color: #25D366; /* WhatsApp color */
  }
  
  .social-icons a:nth-child(2):hover {
    color: #0077B5; /* LinkedIn color */
  }
  
  .social-icons a:nth-child(3):hover {
    color: #E1306C; /* Instagram color */
  }
  
  .social-icons a:nth-child(4):hover {
    color: #1DA1F2; /* Twitter color */
  }
  